* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 101px;
}
#navbar {
    height: 60px;
    width: 100%;
    background-color: rgba( 240, 240, 240, 0.7 );
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 60px;
    padding: 0 0 0 30px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-right: 5px;
    width: 30px;
}

#logo-text {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

li {
    float: left;
    margin-right: 20px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    font-weight: bold;
}

.hero-header {
    background-image: url("../images/newyork_main.jpg");
    background-size: cover;
    height: 450px;
}

.hero-header2 {
    background-image: url("../images/san_main.jpg");
    background-size: cover;
    height: 450px;
}

.hero-header3 {
    background-image: url("../images/wes.main.jpg");
    background-size: cover;
    height: 450px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.photo {
    background-color: #eee;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.text1 {
    text-align: center;
}
.text2 {
    text-align: center;
}
.photo .poster {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.photo .poster:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50);
}