* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 75px;
    margin-bottom: 50px;

}


.menu {
    margin-bottom: 50px;
    text-align: center;
    position: fixed;
    top: 400px;
    right: 53px;
    border-bottom: 2px solid black;
    float: right;
}

.menu-item {
    display: block;
    font-size: 20px;
    font-family: 'Bona Nova', serif;
    color: #504441;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;

}

.menu-item a:not(last-child) {
    margin-bottom: 5px;
}
.photo {
    background-color: #eee;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.text1 {
    text-align: center;
}
.text2 {
    text-align: center;
}
.photo .poster {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.photo .poster:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50);
}
